@import 'init';

input,
button,
input *,
button * {
  appearance: none;
  outline: none;

  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}

select,
input[type='file'],
input[type='password'],
input[type='text'],
input[type='submit'],
textarea {
  font-family: $main-font;
}

input[type='file']:not(.form-file),
input[type='password'],
input[type='text'],
input[type='tel'],
input[type='email'],
textarea {
  @include typeset(form);
  @include padding(0 $size-m);
  background-color: color('form-bg');
  border: 1px solid color('form-border');
  color: color('form-color');
  outline: none;
  vertical-align: middle;
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  color: color('placeholder-color');
}

input[type='submit'] {
  @include button--normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: color('form-color') !important;
  color: color('form-color') !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background-color: color('form-bg');
}