ol,
ul:not(.dropdown) {
  line-height: 1.8;
  list-style-position: inside;
}

body ul:not(.dropdown):not(.toolbar-menu):not(.vertical-tabs__menu):not(.slick-dots) {
  li {
    @include margin-left($size-m);
    @include padding-left($size-s);
    list-style: none;
    position: relative;

    &:before {
      @include spacing(height, 7px);
      @include spacing(width, 7px);
      background-color: color('list-color');
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: .6rem;
      transform: rotate(45deg);
    }
  }
}
