{#
/**
 * @file
 * One column container template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - ds_content_wrapper: wrapper around content
 * - attributes: outer wrapper attributes
 * - content_attributes: attributes for ds_content region
 * - content: content of ds_content region
 */
#}
<{{ outer_wrapper }}{{ attributes.addClass('one-column-container', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  <div {{ top_attributes }}{{ top_attributes.addClass('one-column-container__top') }}>
    {{ top }}
  </div>
  <div {{ content_attributes }}{{ content_attributes.addClass('container one-column-container__content') }}>
    {{ content }}
  </div>

</{{ outer_wrapper }}>
