<div class="product-sidebar-menu-container">
  <div class="check-item"><div class="btn">{{'Меню'|t}}</div></div>
  <div class="drop-down-content">
    {% for item in content %}
        <a href="/delivery/{{ item.link }}" class="use-ajax product-block-sidebar-link product-block-link product-link-{{ item.link }}">
            <div class="product-block-sidebar-item-menu">
              <div class="product-block-sidebar-image">{{ item.image }}</div>
              <span class="product-block-sidebar-name">{{ item.name }}</span>
            </div>
        </a>
    {% endfor %}
  </div>
</div>
