<div class="product-block-container">
  {% for item in content %}
    <div class="product-item">
      <a href="/delivery/{{ item.link }}" class="use-ajax product-block-link product-link-{{ item.link }}">
        <div class="product-block-item-menu">
          <div class="product-block-icon">{{ item.icon }}</div>
          <span class="product-block-name">{{ item.name }}</span>
          <div class="product-block-image">{{ item.image }}</div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
<div class="product-block-catalog"></div>
