<div class="check-item">
    <a href="/delivery/{{ item.link }}" class="use-ajax product-block-sidebar-link product-block-link product-link-{{ item.link }}">
        <div class="product-block-sidebar-item-menu">
            <div class="product-block-sidebar-image">{{ item.image }}</div>
            <span class="product-block-sidebar-name">{{ item.name }}</span>
        </div>
    </a>
</div>

