@import 'init';

.paragraph--type-banner-with-images {
  .field--name-field-zobrazhennya-baneru {
    height: 360px;

    @include breakpoint($smm) {
      height: 450px;
    }

    @include respond-to(l) {
      height: 650px;
    }
  }

  .one-column-container__top img {
    height: 100%;
    width: 100%;
  }

  .one-column-container__content {
    align-items: center;

    .field--name-field-banner-text p {
      font-size: 30px;
      font-weight: 700;
      line-height: 25px;
      margin: 20px 0;
    }
  }

  .field--name-field-logotype img {
    height: 44.8vw;
    width: inherit;

    @include breakpoint($smm) {
      height: 31.8vw;
    }

    @include respond-to(l) {
      height: 22.8vw;
    }
  }
}
