@import 'init';

.captcha {
  transform: scale(0.8) translateX(-35px);
  border: 0;

  > .details-wrapper {
    padding: 0;
  }

  summary {
    display: none;
  }

  .details-description {
    display: none;
  }

  @include respond-to(es) {
    transform: scale(1) translateX(0);
  }
}