@import 'init';

.remove-scroll {
  overflow-y: hidden;
}

.basic-cart-cart-form {
  > .row {
    margin: 0;
  }

  .basic_cart-grid .basic_cart-cart-total-price-contents.row {
    @include breakpoint($sm) {
      justify-content: flex-end;
    }
  }

  .basic_cart-grid .row {
    display: flex;
    float: none;
    left: 0;
    align-items: center;
    flex-direction: column;
    margin: 0;
    position: relative;
    padding: 15px 0;

    @include breakpoint($sm) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  .node--type-client-order {
    max-width: 350px;
  }

  .title-image-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    @include breakpoint($sm) {
      align-items: flex-start;
      margin-bottom: 0;
    }

    .basic_cart-cart-node-title {
      @include font-size(l);
      @include margin-bottom(10px);
      color: color(brand-main);
      display: block;
      font-weight: bold;
      text-align: center;
      max-width: 85%;

      @include breakpoint($sm) {
        text-align: left;
        max-width: 200px;
      }
    }
  }

  .basic_cart-cart-total-price-contents {
    justify-content: flex-end;
  }

  @include breakpoint($lg) {
    .description-wrapper {
      min-width: 200px;
    }
  }

  .description-wrapper,
  .basic-cart-term-desc {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include breakpoint($sm) {
      align-items: flex-start;
    }
  }

  label {
    font-weight: bold;
  }

  .field--type-image {
    max-width: 300px;
  }

  .basic_cart-cart-quantity img,
  .basic_cart-delete-image img {
    width: 20px;
  }

  /*remove item */
  .basic_cart-delete-image {
    order: 1;
    position: absolute;
    top: 15px;
    right: 0;
    margin: 0;

    @include breakpoint($sm) {
      position: static;
      margin-bottom: 10px;
    }
  }

  .basic_cart-cart-unit-price {
    text-align: center;
  }

  .basic_cart-cart-gramm,
  .basic-cart-remark,
  .description-term,
  .term-price,
  .basic_cart-cart-node-cost,
  .basic_cart-cart-quantity,
  .basic_cart-cart-unit-price {
    margin-bottom: 10px;
  }

  /* input quantity */
  .basic_cart-cart-quantity {
    display: flex;

    .cell {
      display: flex;
      align-items: center;
      float: none;
    }

    input {
      border: 0;
      width: 60px;
      text-align: center;
      background-color: white;
      color: #000;
      padding: 0 10px;
      line-height: normal;
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance:textfield;
    }
  }

  .basic_cart-call-to-action {
    text-align: center;
    @include breakpoint($sm) {
      text-align: right;
    }

    a {
      font-size: 1rem;
      font-weight: 400;
      text-transform: uppercase;
      cursor: pointer;
      transition: all .4s ease-in-out;
      background: #000000;
      border-radius: 0;
      border: 1px solid #000000;
      color: #ffffff;
      min-width: 250px;
      text-decoration: none;
      text-align: center;
      margin: 0 auto;
      line-height: 2.25;

      &:hover {
        border: 1px solid #000000;
        color: #000000;
        background: transparent;
      }
    }
  }
}