@import 'init';

.ui-widget.ui-widget-content {
  border: 0;
  border-radius: 0;
  box-shadow: 2px 7px 32px 5px rgba(0,0,0,0.55);
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  width: 90% !important;

  @include breakpoint($lg) {
    width: 80% !important;
  }

    .ui-dialog-titlebar {
    @include padding(40px 0 16px);
    background: color(brand-second);
    border: 0;
    color: color(brand-main);
    text-align: center;

    .ui-dialog-title {
      @include font-size(xl);
      float: none;
      white-space: pre-wrap !important;
    }

    .ui-dialog-titlebar-close {
      background: none;
      border: 0;
      margin: 0;
      padding: 0;
      right: 10px;
      top: 10px;

      .ui-button-icon {
        background: url(../../images/cancel.png);
        background-size: cover;
        height: 20px;
        left: 0;
        margin: 0 !important;
        right: 20px;
        top: 0;
        width: 20px;
      }
    }
  }
}

.additionals-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .node--type-addition  {
    @include margin(0 0 50px);
    align-items: center;
    background: color(brand-second);
    border: 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    .field--name-add-to-cart-price {
      margin: 20px 0;
    }

    .field--name-add-to-cart .field__label {
      display: none;
    }

    .field--name-node-title h2 {
      @include font-size(l);
      @include margin-bottom(7px);
      color: color(brand-main);
      font-weight: 700;
      line-height: 31.5px;
      letter-spacing: 0.61px;
    }

    .field--name-body p {
      @include font-size(m);
      color: color(brand-main);
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
    }

    .field--name-field-gramm,
    .field--name-add-to-cart-price {
      display: flex;
    }

    .field--name-field-image {
      height: 150px;
      overflow: hidden;
      width: 150px;
    }
  }

  .addtocart-link-class a {
    @include button--normal;
    background: color(brand-main);
    border-radius: 0;
    border: 1px solid color(brand-main);
    color: color(brand-second);
    min-width: 250px;
    text-decoration: none;
    text-align: center;

    &:hover {
      border: 1px solid color(brand-main);
      color: color(brand-main);
    }
  }
}

@include breakpoint($sm) {
  .additionals-wrapper .node--type-addition {
    @include margin(0 20px 50px);
    width: 280px;

  }
}
