@import 'init';

.block-product-main-menu {
  @include main-container;
  display: flex;
  flex-direction: column;

  h2 {
    @include font-size(l);
    @include margin-bottom(10px);
    color: color(brand-main);
    cursor: pointer;
    display: block;
    text-align: center;
  }

  .product-block-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .node--type-client-order {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 30px 0;
      max-width: 300px;
      padding: 0 15px;
      text-align: center;
      width: 100%;

      @include breakpoint($sm) {
        width: calc(100% / 2);
      }

      @include breakpoint($lg) {
        width: calc(100% / 4);
      }

      .field--type-text-with-summary {
        @include font-size(m);
        color: color(brand-main);
        flex-grow: 1;
      }

      .field--name-field-gramm {
        @include font-size(m);
        color: color(brand-main);
        margin: 20px 0;
      }

      .field--name-field-image + .use-ajax {
        @include button--normal;
        background: color(brand-main);
        border: 1px solid color(brand-main);
        border-radius: 0;
        color: color(brand-second);
        margin-top: 20px;
        min-width: 250px;
        text-align: center;
        text-decoration: none;

        &:hover {
          color: color(brand-main);
          border: 1px solid color(brand-main);
        }
      }

      .field--name-field-image + .use-ajax + .ajax-progress-throbber {
        display: none;
      }
    }

    .field--name-add-to-cart {
      position: relative;

      .ajax-progress-throbber {
        height: 50px;
        right: -40px;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;

        .throbber {
          background: url('../../images/fade-spinner.gif') center no-repeat;
          background-size: cover;
          display: block;
          height: 100%;
          padding: 0;
          width: 100%;
        }
      }
    }

    .field--name-add-to-cart-price {
      color: color(brand-main);
      display: flex;
      margin-top: auto;
      padding: 20px 0;

      .field__label {
        @include font-size(m);
        font-weight: bold;
      }
    }
  }

  .addtocart-link-class a {
    @include button--normal;
    background: color(brand-main);
    border: 1px solid color(brand-main);
    border-radius: 0;
    color: color(brand-second);
    min-width: 250px;
    text-align: center;
    text-decoration: none;

    &:hover {
      color: color(brand-main);
      border: 1px solid color(brand-main);
    }
  }
}

.addtocart-wrapper-container {
  position: relative;

  .ajax-addtocart-wrapper {
    position: absolute;
    top: -10px;
    opacity: 1 !important;
    width: 100% !important;
    z-index: 10 !important;

    p {
      @include button--normal;
      background: color(brand-main) !important;
      border: 1px solid color(brand-main);
      box-shadow: none;
      border-radius: 0;
      color: color(brand-second);
      min-width: 250px;
      text-align: center;
      text-decoration: none;
    }
  }
}

.product-block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;

  .product-item {
    margin: 10px;
    position: relative;
    text-align: center;
    width: calc(100% / 3);

    @include breakpoint(414px) {
      width: calc(100% / 4);
    }

    @include breakpoint($lg) {
      width: calc(100% / 7);
    }

    .ajax-progress-throbber {
      height: 80px;
      left: 50%;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80px;

      .throbber {
        background: url('../../images/fade-spinner.gif') center no-repeat;
        background-size: cover;
        display: block;
        height: 100%;
        padding: 0;
        width: 100%;
      }
    }

    a {
      border-radius: 5px;
      display: block;
      height: 100%;
      padding: 5px;
      position: relative;

      @include breakpoint($sm) {
        display: inline-block;
        height: 90%;
        padding: 0;
      }

        &.active {
        box-shadow: 10px 10px 14px 0 color(prdct-hover-color);
        transform: scale(1.1);
      }

      @include breakpoint($sm) {
        &:hover {
          box-shadow: 10px 10px 14px 0 color(prdct-hover-color);
          transform: scale(1.1);
        }
      }
    }

    .product-block-name {
      @include font-size(m);
      color: color(brand-main);
      cursor: pointer;
      display: block;
      flex-grow: 1;
      font-weight: bold;
      text-decoration: none;

      @include breakpoint($sm) {
        @include font-size(l);
        @include margin-bottom(10px);
        background: color(prdct-title-color);
        color: color(brand-second);
        padding: 5px 0;
        position: absolute;
        width: 100%;
      }
    }

    .product-block-item-menu {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .product-block-image {
    display: none;
  }

  @include breakpoint($sm) {
  .product-block-image {
      display: block;
    }

    .field--name-field-mobile-image {
      display: none;
    }
  }
}

.product-sidebar-menu-container {
  background: color(prdct-s-bar-color);
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.4);
  min-height: 50px;
  padding: 10px 20px;
  position: fixed;
  top: 80px;
  transition: .4s linear;
  transform: translateX(-100%);
  width: 100%;
  z-index: 2;

  .btn {
    color: #000;
    margin: 10px 0;
  }

  @include breakpoint($sm) {
    display: none;
  }

  &.active {
    height: 80%;
    overflow-y: scroll;

    a {
      pointer-events: auto;
    }
  }

  &.show {
    transform: translateX(0);
    transition: .4s linear;
  }

  a {
    color: #000;
    margin: 10px 0;
    pointer-events: none;
    text-decoration: none;
  }

  .ajax-progress-throbber {
    height: auto;
    padding: 0;
    position: relative;
    top: -5px;
    width: 60px;

    .throbber {
      background: url('../../images/fade-spinner.gif') center no-repeat;
      background-size: cover;
      display: block;
      height: 100%;
      padding: 0;
      width: 100%;
    }
  }

  .drop-down-content {
    display: flex;
    flex-direction: column;

    a.active {
      display: none;
    }
  }

  .product-block-sidebar-item-menu {
    align-items: center;
    display: flex;
  }

  .product-block-sidebar-image {
    margin-right: 20px;
  }
}
