@import 'init';

.paragraph--type--text-block {
  @include main-container;
  @include margin-bottom(50px);
  @include margin-top(50px);

  .field--name-field-title-text-block {
    @include typeset(heading-2);
    @include margin-bottom($size-s);
    color: color(brand-main);
    text-align: center;
  }

  .field--name-field-content-text-block {
    @include font-size(m);
    color: color(brand-main);
    text-align: center;

    a {
      @include font-size(m);
      color: color(brand-main);
      text-align: center;
    }
  }
}
