@import "init";

.path-user {
  .region-header {
    padding: 0;
  }

  .ham {
    display: none;
  }

  .block-system-main-block {
    background: color('brand-main');
    padding-top: 30px;
  }

  .messages {
    margin: 0 auto;
  }

  .user-login-form {
    @include padding($size-m $size-s);
    max-width: 500px;
    margin: 0 auto;
  }
}