@import 'init';

$name: 'menu';

.field--name-karabas-main-menu {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  ul.menu {
    display: none;
    margin-left: 0;
  }

  ul.menu.open {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .#{$name}-item {
    margin: 0 !important;
    padding: 0 !important;

    &:before {
      display: none !important;
    }

    a {
      @include font-size(xl);
      font-weight: bold;
      text-decoration: none;

      &,
      &.is-active {
        color: color(main-menu-link);
      }
      &.is-active {
        text-decoration: underline;
      }
    }
  }
}

@include respond-to(l) {
  .field--name-karabas-main-menu {
    @include padding($size-l);
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    transform: none;

    ul.menu {
      display: flex;
      flex-flow: row wrap;
    }

    .#{$name}-item {
      margin: 0 $size-m !important;

      a {
        @include font-size(m);
        text-decoration: none;
      }
    }
  }
}