@import "init";

.node-basic-cart-order-form {
  .field--name-field-type-payment label {
    display: inline-block;
  }

  .field--name-field-order-status,
  .field--name-field-working-info,
  label {
    display: none;
  }
}

.ui-dialog .ui-dialog-buttonpane {
  background: none;
  display: flex;
  justify-content: center;

  .form-submit {
    @include button--normal;
    background: color(brand-main);
    border: 1px solid color(brand-main);
    border-radius: 0;
    color: color(brand-second);
    min-width: 250px;
    text-align: center;
    text-decoration: none;
    margin: 10px 0;

    &:hover {
      border: 1px solid color(brand-main);
      color: color(brand-main);
    }
  }
}