@import 'init';

.site-header {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  .region-header {
    @include padding($size-l 0);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  .container {
    display: none;

    @include respond-to(l) {
      display: block;
    }
  }
}

.field--name-field-logo img {
  height: 44.8vw;
  margin: 0 auto;
  width: inherit;

  @include breakpoint($smm) {
    height: 31.8vw;
  }

  @include respond-to(l) {
    height: 25.8vw;
  }
}

@include respond-to(l) {
  .container {
    display: block;
  }
}

body:not(.path-frontpage) .truck {
  display: none;
}

.truck {
  margin-top: 5px;
  margin-right: 10px;
}

@include respond-to(l) {
  .truck {
    display: none;
  }
}