@import 'init';

body:not(.path-frontpage).user-logged-in {
  .site-header {
    top: 36px;
  }

  @include respond-to(l) {
    .field--name-karabas-main-menu {
      top: 36px;
    }
  }
}

body:not(.path-frontpage).user-logged-in.toolbar-tray-open {
  .field--name-karabas-main-menu {
    top: 73px;
  }
}

body:not(.path-frontpage) {
  .site-header {
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;

    .block-basic-cart {
      display: flex;
      padding: 23px;

      a {
        z-index: 1;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 2;
        }
      }

      span {
        right: 22px;
        top: 8px;
        z-index: 0;
      }
    }

    .container {
      display: none;
      order: -1;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .block-basic-cart {
    position: relative;

    .basic-cart-block {
      font-size: 0;
      width: auto;
    }

    .basic-cart-block .basic_cart-cart-contents,
    .basic-cart-block .basic_cart-cart-total-price-contents {
      display: none;
    }

    .basic_cart-cart-checkout-button {
      width: auto;
      float: none;
      display: inline-block;
      margin: 5px 0 0;
    }

    .ajax-progress-throbber {
      display: none;
    }

    .cart-update {
      opacity: 0;
      height: 0;
      pointer-events: none;
      width: 0;
    }

    span.basic_cart-circle-32-26 {
      position: absolute;
      top: -15px;
      color: color(brand-second);
      border-radius: 0;
      background: red;
      padding: 5px;
      width: 35px;
      height: 20px;
      font-size: 14px;
      line-height: 10px;
      right: 0;
      font-weight: 700;
      transform: rotate(45deg);
      z-index: -1;
      text-align: center;
    }
  }

  .field--name-karabas-main-menu {
    position: fixed;
    top: 50%;
    width: 100%;

    @include respond-to(l) {
      background: rgba(0, 0, 0, 0.6);
      top: 0;
    }

    .menu {
      align-items: center;
      justify-content: flex-end;

      a {
        font-weight: bold;
      }
    }

    .block-basic-cart {
      @include margin-left(20px);
      display: flex;
    }
  }
}