@import 'init';

$name: 'title-banner';

.#{$name},
%#{$name},
.paragraph--type-#{$name} {
  @include font-size(xl);
  @include margin($size-l 0);
  @include overlay(color('overlay-color'));
  @include padding-bottom($size-xxl);
  @include padding-top($size-xxl);
  align-items: center;
  background-position: center center;
  color: color('white');
  display: flex;
  font-weight: weight(bold);
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  .#{$name}__title,
  .field--name-field-title {
    @include margin(0 $size-ml);
    position: relative;
    text-align: center;
    z-index: 1;
  }

  .field--name-field-button-to-delivery {
    @include margin($size-ml 0);
    position: relative;
    z-index: 1;

    a {
      @include button--normal;
      text-align: center;
      text-decoration: none;
    }
  }
}

@include respond-to(s) {
  .paragraph--type-#{$name} {
    flex-direction: row;

    .#{$name}__title {
      margin-bottom: 0;
      text-align: left;
    }

    .field--name-field-button-to-delivery {
      @include margin(0 $size-m);
    }
  }
}