{% if basic_cart.notempty %}
  </div>
  <div class="basic_cart-min-item cell">
      <span class="basic_cart-min-item-image">
        <a href="{{ basic_cart.min_url }}" class="use-ajax">
          <img src="{{ basic_cart.module_url }}/images/min.png"/>
        </a>
      </span>
  </div>
  </div>
  <div class="cell basic_cart-cart-unit-price">
    <div class="basic_cart-unit-price-summ-{{ basic_cart.node_id }}">{{ basic_cart.unit_price }}</div>
  </div>
  </div>
{% endif %}

  
