{%if basic_cart.notempty %}
  <div class="basic_cart-cart-contents row">
    <div class="basic_cart-delete-image cell">
    <span class="basic_cart-delete-image-image">
      <a href="{{ basic_cart.delete_url }}" class="use-ajax">
        <img src="{{ basic_cart.module_url }}/images/delete.png"/>
      </a>
    </span>
    </div>
    {#<div class="basic_cart-cart-node-title cell">{{ basic_cart.render }}<br /></div>#}
    <div class="title-image-wrapper">
      <div class="basic_cart-cart-node-title cell">{{ basic_cart.title }}</div>
      <div class="basic_cart-image">
        <img src="{{ basic_cart.image }}">
      </div>
    </div>

    <div class="description-wrapper">
      <div class="basic-cart-description">{{ basic_cart.description|striptags|raw }}</div>
      <div class="basic-cart-remark">{{ basic_cart.remark|striptags|raw }}</div>
      <div class="basic_cart-cart-gramm">
        {% if basic_cart.gramm %}
          <label>Вага:</label> {{ basic_cart.gramm }}
        {% endif %}
      </div>
      <div class="basic-cart-term-desc"><div class="description-term">{{ basic_cart.term_desc|striptags|raw }}</div>
        {% if basic_cart.term_price %}
          <div class="term-price"><label>{{ 'basic_cart.cost_box'|t }}</label> {{ basic_cart.term_price }}</div>
        {% endif %}
      </div>
    </div>

    <div class="basic_cart-cart-node-cost"><label>{{ 'basic_cart.cost'|t }}</label> {{ basic_cart.cost }}</div>
    <div class="basic_cart-cart-quantity cell">
      <div class="basic_cart-plus-item cell">
      <span class="basic_cart-plus-item-image">
        <a href="{{ basic_cart.plus_url }}" class="use-ajax">
          <img src="{{ basic_cart.module_url }}/images/plus.png"/>
        </a>
      </span>
      </div>
      <div class="cell-quantity-{{ basic_cart.node_id }} cell">
{%endif%}

  
