@import 'layout-settings';

$name: 'one-column-container';

.#{$name},
%#{$name} {
  overflow: hidden;
  position: relative;
  text-align: center;

  &__top {
    @include overlay(color('overlay-color'));
  }

  &__content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}
