@import 'layout-settings';

$name: 'two_column_rows';

.#{$name},
%#{$name} {
  @include margin-bottom($size-l);

  .top-wrapper,
  .bottom-wrapper {
    @include margin-bottom($size-m);
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    @include breakpoint($sm) {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
  }

  &__lefttop,
  &__righttop {
    @include margin-bottom($size-ss);
  }
}

.footer {
  @include margin-top($size-l)
}