.toolbar-icon-karabas-ds-admin-toolbar-orders:before {
  background-image: url('../img/shopping-cart.svg');
}

.canceled {
  background: #bc8f8d;
}

.pending {
  background: #94bfce;
}

.in-processing {
  background: #ffffa0;
}

.processed {
  background: #c5f76f;
}

#edit-field-made-in-country-wrapper {
  display: none;
}
