{#
/**
 * @file
 * Two column rows template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - attributes: layout attributes
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - left: content of left region
 * - right: content of right region
 */
#}

{% set lefttop = lefttop|render %}
{% set righttop = righttop|render %}
{% set leftbottom = leftbottom|render %}
{% set rightbottom = rightbottom|render %}
{#{% if (left and not right) or (right and not left) %}#}
  {#{% set layout_class = 'two-column-rows--one' %}#}
{#{% endif %}#}

<{{ outer_wrapper }}{{ attributes.addClass('two_column_rows', 'clearfix') }}>

{{ title_suffix.contextual_links }}

  <div class="top-wrapper">
    {% if lefttop %}
      <{{ lefttop_wrapper }}{{ lefttop_attributes.addClass('two_column_rows__lefttop') }}>
         {{ lefttop }}
      </{{ lefttop_wrapper }}>
    {% endif %}

    {% if righttop %}
      <{{ righttop_wrapper }}{{ righttop_attributes.addClass('two_column_rows__righttop') }}>
        {{ righttop }}
      </{{ righttop_wrapper }}>
    {% endif %}
  </div>

  <div class="bottom-wrapper">
    {% if leftbottom %}
      <{{ leftbottom_wrapper }}{{ leftbottom_attributes.addClass('two_column_rows__leftbottom') }}>
         {{ leftbottom }}
      </{{ leftbottom_wrapper }}>
    {% endif %}

    {% if rightbottom %}
      <{{ rightbottom_wrapper }}{{ rightbottom_attributes.addClass('two_column_rows__rightbottom') }}>
       {{ rightbottom }}
      </{{ rightbottom_wrapper }}>
    {% endif %}
  </div>

</{{ outer_wrapper }}>
