@import 'init';

@mixin button--normal($bg: color('button-bg'), $bg-hover: transparent,
  $border: color('button-border'), $color: color('button-color'),
  $color-hover: color('button-color-hover')) {
  @include typeset(button-normal);
  @include padding(0 $size-m);
  @include spacing(min-width, $normal-button);
  background-color: $bg;
  border: 2px solid $border;
  color: $color;
  cursor: pointer;
  transition: all .4s ease-in-out;

  &:hover {
    background-color: $bg-hover;
    color: $color-hover;
    transition: all .4s ease-in-out;
  }
}

@mixin layout-padding {
  @include padding-left($size-s);
  @include padding-right($size-s);
}

@mixin layout-row {
  @include clr;
  @include margin-right($size-s);
  @include margin-left($size-s);
}

@mixin main-container {
  @include layout-padding;
  margin-left: auto;
  margin-right: auto;

  @include respond-to(s) {
    max-width: $container-sm;
  }

  @include respond-to(m) {
    max-width: $container-md;
  }

  @include respond-to(l) {
    max-width: $container-lg;
  }
}


@mixin overlay ($color) {
  position: relative;

  &::before {
    background-color: $color;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
