// fast font-family
@mixin font($alias, $name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $alias;
    src: url("../../fonts/" + $name + ".eot");
    src: url("../../fonts/" + $name + ".eot?#iefix") format("embedded-opentype"), url("../../fonts/" + $name + ".woff") format("woff"), url("../../fonts/" + $name + ".ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin placeholder {
  &:-ms-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
  &::placeholder {
    @content;
  }
}

@mixin scrollbar {
  & ::-moz-scrollbar {
    @content;
  }
  & ::-webkit-scrollbar {
    @content;
  }
  & ::scrollbar {
    @content;
  }
}

@mixin scrollbar-track {
  & ::-moz-scrollbar-track {
    @content;
  }
  & ::-webkit-scrollbar-track {
    @content;
  }
  & ::scrollbar-track {
    @content;
  }
}

@mixin scrollbar-thumb {
  & ::-moz-scrollbar-thumb {
    @content;
  }
  & ::-webkit-scrollbar-thumb {
    @content;
  }
  & ::scrollbar-thumb {
    @content;
  }
}

@mixin scrollbar-track-piece {
  & ::-moz-scrollbar-track-piece {
    @content;
  }
  & ::-webkit-scrollbar-track-piece {
    @content;
  }
  & ::scrollbar-track-piece {
    @content;
  }
}

@mixin clr {
  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
