// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$handle-slider-name: 'handle-slider';
$handle-slider-x: 57px;
$handle-slider-y: 370px;
$handle-slider-offset-x: -57px;
$handle-slider-offset-y: -370px;
$handle-slider-width: 21px;
$handle-slider-height: 37px;
$handle-slider-total-width: 440px;
$handle-slider-total-height: 415px;
$handle-slider-image: 'sprite.png';
$handle-slider: (57px, 370px, -57px, -370px, 21px, 37px, 440px, 415px, 'sprite.png', 'handle-slider', );
$magnifier-icon-name: 'magnifier-icon';
$magnifier-icon-x: 0px;
$magnifier-icon-y: 359px;
$magnifier-icon-offset-x: 0px;
$magnifier-icon-offset-y: -359px;
$magnifier-icon-width: 56px;
$magnifier-icon-height: 56px;
$magnifier-icon-total-width: 440px;
$magnifier-icon-total-height: 415px;
$magnifier-icon-image: 'sprite.png';
$magnifier-icon: (0px, 359px, 0px, -359px, 56px, 56px, 440px, 415px, 'sprite.png', 'magnifier-icon', );
$money-name: 'money';
$money-x: 0px;
$money-y: 0px;
$money-offset-x: 0px;
$money-offset-y: 0px;
$money-width: 440px;
$money-height: 358px;
$money-total-width: 440px;
$money-total-height: 415px;
$money-image: 'sprite.png';
$money: (0px, 0px, 0px, 0px, 440px, 358px, 440px, 415px, 'sprite.png', 'money', );
$slider-calculator-name: 'slider-calculator';
$slider-calculator-x: 57px;
$slider-calculator-y: 359px;
$slider-calculator-offset-x: -57px;
$slider-calculator-offset-y: -359px;
$slider-calculator-width: 293px;
$slider-calculator-height: 10px;
$slider-calculator-total-width: 440px;
$slider-calculator-total-height: 415px;
$slider-calculator-image: 'sprite.png';
$slider-calculator: (57px, 359px, -57px, -359px, 293px, 10px, 440px, 415px, 'sprite.png', 'slider-calculator', );
$spritesheet-width: 440px;
$spritesheet-height: 415px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($handle-slider, $magnifier-icon, $money, $slider-calculator, );
$spritesheet: (440px, 415px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
