// Colors
//
// Use the `color()` function to add colors to CSS properties. To learn more,
// [read the Chroma documentation](http://johnalbin.github.io/chroma/).

// Define the default color scheme's color names.
$chroma: define-default-color-scheme('branding', 'The site\'s main colors. Can be used to define colors in other color schemes.');

$chroma: add-colors((
  black:                  #000000,
  woodsmoke:              #0c0c0d,
  light-black:            #1b1b1b,
  dark-grey:              #515151,
  tundora:                #404040,
  light-grey:             #898989,
  main-grey:                   #ccc,
  white:                  #ffffff,
  rose-white:             #fffefe,
  wild-sand:              #f6f6f6,
  mercury:                #e8e8e8,
  shilo:                  #e6b0ac,

));

// Define color names for functional uses.
$chroma: define-color-scheme('functional', 'Colors used by functional parts of the design.');
$chroma: add-colors('functional', (
  // Colors used in the main content area.
  brand-main:             'black',
  brand-second:           'white',
  text:                   'brand-second',
  title-text:             'brand-second',

  main-menu-link:         'brand-second',

  form-bg:                'brand-main',
  form-border:            'brand-second',
  form-border-focus:      'brand-main',
  form-color:             ('brand-second' rgba .5),
  placeholder-color:      ('brand-second' rgba .5),

  prdct-s-bar-color:      ('brand-second' rgba .9),
  prdct-hover-color:      ('brand-main' rgba .4),
  prdct-title-color:      ('brand-main' rgba .7),

  button-bg:              'brand-second',
  button-border:          'brand-second',
  button-color:           'brand-main',
  button-color-hover:     'brand-second',

  list-color:             'brand-main',

  overlay-color:          'brand-main',

  component-text-image-border: 'main-grey',
));

$chroma-active-scheme: 'functional';
