$main-font: 'CenturyGothic', 'Roboto', sans-serif;


// The font size set on the root html element.
$base-font-size:    16px;

$line-height-method: ratio;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height-ratio:  1.5;

// The font sizes in our type hierarchy as tee shirt sizes.
$font-size: (
  xxxl:             36px,
  xxl:              30px,
  xl:               24px,
  l:                18px,
  m:                $base-font-size, // 16
  s:                14px,
  xs:               13px,
  xxs:              12px
);

// Basic layout spacing
$size-xxxl:  140px;
$size-xxl:  90px;
$size-xl:   70px;
$size-l:    36px;
$size-ml:   30px;
$size-m:    20px;
$size-s:    16px;
$size-ss:   10px;
$size-sss:  6px;

// Elements sizes
$normal-button:   200px;


// Typey allows you to alter font weights site-wide with this map.
$font-weight: (
  bold:             700,
  semibold:         600,
  medium:           500,
  normal:           400,
  light:            300
);

$typestyles: (
  heading-1: (
    font-size: xxxl,
    line-height: 1.5,
    weight: bold
  ),
  heading-2: (
    font-size: xxl,
    line-height: 1.2,
    weight: bold
  ),
  heading-3-6: (
    font-size: xl,
    line-height: 2.14,
    weight: bold,
  ),
  text: (
    font-size: m,
    line-height: 1.5
  ),
  form: (
    font-size: m,
    line-height: 3.43,
    case: uppercase
  ),
  button-normal: (
    font-size: m,
    line-height: 2.25,
    case: uppercase,
    weight: normal
  ),
  post-face: (
    font-size: xl,
    line-height: 1.2,
    weight: bold
  )
);

// Screens
$max-width: 100%;

$xlg: 1450px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$smm: 580px;


// Containers
$container-llg: 1920px;
$container-lgx: 1670px;
$container-lg: 1170px;
$container-md: 970px;
$container-mdl: 920px;
$container-sm: 750px;
$container-esm: 420px;


// Breakpoints
//
// Use the `respond-to()` mixin to use named breakpoints. Documentation is
// available in the [Breakpoint wiki
// pages](https://github.com/at-import/breakpoint/wiki/Respond-To).

@include add-breakpoint(es,   ($container-esm, 'no-query' true));
@include add-breakpoint(s,   ($container-sm, 'no-query' true));
@include add-breakpoint(m,   ($container-md, 'no-query' true));
@include add-breakpoint(ml,   ($container-mdl, 'no-query' true));
@include add-breakpoint(l,   ($container-lg, 'no-query' true));
@include add-breakpoint(lgx,   ($container-lgx, 'no-query' true));
@include add-breakpoint(llg,   ($container-llg, 'no-query' true));

// Output a horizontal grid to help with debugging typography.
$typey-debug: false;

// The length unit in which to output font size and margin values.
// Supported values: px, em, rem.
$base-unit:         'rem';

// px fallbacks for rem units are needed for IE 8 and earlier.
$rem-fallback:      false;
