{#
/**
 * @file
 * Template for displaying a post in a Facebook feed block.
 *
 * Available variables:
 *  - title
 *  - description
 *  - image
 *  - created_date
 *  - created_time
 */
#}
<div class="facebook-posts-block">
  {% if posts %}
  {% for post in posts %}
    <div class="post-wrapper">
      <a class="wrapper-content" href="{{ post.link }}">
        {% if status == 1 %}
          {{ post.image }}
        {% endif %}
        {% if status == 0 %}
          <img src="{{ file_url(post.image)}}">
        {% endif %}
        <p class="fb-post-date">{{ post.created_date }} {{ post.created_time }}</p>
        <h3 class="fb-post-title">{{ post.title }}</h3>
        <p class="fb-post-description">{{ post.description | length > 100 ? post.description|slice(0, 100) ~ '...' : post.description }}</p>
      </a>
    </div>
  {% endfor %}
{% endif %}
</div>

